
.save-button {
    background-color: rgb(18, 209, 18);
}

.delete-button {
    background-color: red;
}

.current-hour {
    background-color: cornflowerblue;
}

.past-hour {
    background-color: grey;
}

.future-hour {
    background-color: rgb(181, 206, 252);
}
